



네트워크
    - 통신


DataBase <------> Server <------> Client(app, web,...)
   글                                A
   댓글                              B

Local Database의 한계
- 동기화가 어렵다.
- 상호작용이 불가능 하다.

서버와 통신하는 방법
- 해당 url 로 요청한다.
- 인증정보를 보낸다
- JSON 형식을 사용해서 data를 보낸다

JSON 형식
- [] -> List
- {} -> 객체

Json Parsing
    -> Json 을 코틀린이나 자바가 이해할 수 있게 변형 하는 과정

Serializable(직렬화)
    -> 자바시스템 내부에서 사용되는 object를 외부에서 사용할 수 있도록 byte 형태로 데이터를 바꾸는 것
    -> class, 

Request Type
- GET -> 정보 요청
- POST -> 정보 추가 요청
- DELETE -> 정보 삭제 요청
- PUT -> 정보 수정 요청

Library
- Volly
- Retrofit